* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(98, 223, 140) 0%,
    rgb(22, 77, 40) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #113120;
  opacity: 80%;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.2;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px; /* top right buttom left */
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(107, 221, 158); /* width  style color */
  outline: none; /* Outline is like a border */
  width: 320px;
  background: transparent; /* Set the oject background to transparent*/
  color: rgb(255, 255, 255); /* text color is white*/
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0px;
  cursor: pointer; /* when the cursor it`s hover it transformed to a heand form */
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(107, 221, 158) 0%,
    rgb(47, 131, 89) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #b80d0d;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgb(187, 11, 11) 0%, rgb(95, 20, 18) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex; /*	Displays an element as a block-level flex container */
  justify-content: space-between; /*Item will  have space before, between, and after*/
  align-items: center; /* Item position is in the cenrer of the container*/
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(165, 223, 6) 0%,
    rgb(187, 230, 88) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(78, 7, 219) 0%,
    rgb(134, 12, 165) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(155, 11, 78, 1) 0%,
    rgba(255, 12, 241) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(255, 20, 20) 0%,
    rgb(255, 160, 17) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
